* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  color: white;
  background-color: rgb(23, 23, 91);
}
.navlinks {
  display: flex;
  gap: 3rem;
}

/* ------------------PRODUCT LIST-------------------- */
.product-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}
